.main {
    display: flex;
    justify-content: center;
}

.Pagamento {
    width: 90%;
    position: absolute;
    border-radius: 26px;
    padding: 10px;
    display: flex;
    background-color: rgb(27, 27, 27);
    margin-top: 40px;
    color: white;
}

.endereco {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.ladodireito {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.metodopagamento {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: start;
    margin-top: 20px;
}

.detalhespedido {
    height: 100%;
    width: 100%;
    border-radius: 26px;
    background-color: rgb(103, 103, 103);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

input {
    border-radius: 5px;
    border: none;
}

input::placeholder {
    color: rgb(0, 0, 0);
}
.ImgP{
    width: fit-content;
    height: fit-content;
}
.Info{
    width: 50%;
}
.IMAGE{
    width: 50%;
}
.Product{
    display: flex;
    flex-direction: row;
}