.Pagamento {
    background-color: whitesmoke;
    width: fit-content;
    height: fit-content;
    position: absolute;
    border-radius: 26px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.FP {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.PM {
    display: flex;
    justify-content: space-between;
}

#CD, #CC, #BT, #PX {
    margin-left: 10px;
}

main {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
}

header {
    margin-bottom: 10px;
}