.CC {
  position: absolute;
  top: 100px;
  right: 0%;
  background-color: rgba(0, 255, 255, 0.11);
  width: 40%;
  height: 100vh;
  z-index: 15;
  display: none;
}

.CC.active {
  display: block;
}
.clo {
  height: auto;
  width: 8%;
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
}

.CarinCont {
  position: relative;
  width: 100%;
  flex-grow: inherit;
  display: flex;
  background-color: rgba(245, 245, 245, 0.8);
  flex-direction: column;
  overflow: hidden;
  transition: 0.5s;
}

.caripro {
  height: 150px;
  display: grid;
  grid-template-areas:
    "imCari ticari ticari"
    "imCari pecari recari";
  grid-gap: 5px;
  border-style: solid;
}

.ticari {
  grid-area: ticari;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: calc(1rem + 0.5vw);
  height: calc(1rem + 0.5vw);
  line-height: 1;
  color: black;
}

.pecari {
  grid-area: pecari;
  font-size: calc(1rem + 0.5vw);
  color: black;
}

.recari {
  grid-area: recari;
  max-width: 90%;
  max-height: 70%;
  position: relative;
  background-color: transparent;
  border-color: blue;
  border-width: 0.3rem;
  color: blue;
  font-size: 0.7vw;
}

.recari:hover {
  background-color: lightblue;
  border-color: lightblue;
  color: whitesmoke;
  border-width: 0.4rem;
}

.imCari {
  grid-area: imCari;
  height: inherit;
  width: auto;
}

.CartFooter {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
}

.OI {
  position: absolute;
  bottom: 20px;
  left: 51.84%;
  right: -46.6%;
  transform: translateX(-50%);
  border-style: solid;
  color: black;
  cursor: pointer;
  text-align: center;
  background-color: white;
}

.PF {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  font-weight: 800;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: gold;
  color: black;
}

@media (min-width: 2000px) {
  .CC {
    width: 40%;
  }
  .recari {
    font-size: x-large;
    padding: 0px;
  }
  .ticari {
    font-size: xx-large;
  }
  .CartFooter {
    width: 94%;
  }
  .clo {
    width: 3%;
  }
  .OI {
    font-size: larger;
  }
  .PF {
    font-size: x-large;
    background-color: rgba(245, 245, 245, 0.685);
  }
}

@media (max-width: 1500px) {
  .CC {
    width: 60%;
  }
  .recari {
    font-size: large;
    padding: 0px;
  }
  .ticari {
    font-size: larger;
  }
  .CartFooter {
    width: 93%;
  }
}

@media (max-width: 1200px) {
  .CC {
    width: 60%;
  }
  .recari {
    font-size: large;
    padding: 0px;
  }
  .ticari {
    font-size: larger;
  }
  .CartFooter {
    width: 94%;
  }
}

@media (max-width: 912px) {
  .CC {
    width: 60%;
    background-color: rgba(3, 85, 85, 0.9);
  }
  .recari {
    font-size: small;
    padding: 0px;
  }
  .ticari {
    font-size: larger;
  }
  .CartFooter {
    width: 90%;
  }
}

@media (max-width: 540px) {
  .CC {
    width: 90%;
    background-color: rgba(3, 85, 85, 0.9);
  }
}

@media (max-width: 320px) {
  .CC {
    width: 90%;
    background-color: rgba(3, 85, 85, 0.9);
  }
  .recari {
    font-size: x-small;
  }
  .ticari {
    font-size: larger;
  }
  .carrinho{
    position: relative;
    left: 100%;
  }
}

@media (max-height: 1370px) {
  .CC {
    height: 60vh;
  }
}

@media (max-height: 1150px) {
  .CC {
    height: 79vh;
  }
}

@media (max-height: 950px) {
  .CC {
    height: 98vh;
  }
}

@media (max-height: 820px) {
  .CC {
    height: 100vh;
  }
}

@media (max-height: 750px) {
  .CC {
    height: 111vh;
  }
}

@media (max-height: 670px) {
  .CC {
    height: 116vh;
  }
}

@media (max-height: 600px) {
  .CC {
    height: 140vh;
  }
}

@media (max-height: 535px) {
  .CC {
    height: 150vh;
  }
}

@media (max-height: 435px) {
  .CC {
    height: 190vh;
  }
}

@media (max-height: 400px) {
  .CC {
    height: 235vh;
  }
}

@media (max-height: 300px) {
  .CC {
    height: 267vh;
  }
}

@media (min-height: 2000px) {
  .CC {
    height: 38vh;
  }
}

@media (min-height: 1400px) {
  .CC {
    height: 54vh;
  }
}
